### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
%matplotlib notebook

In [3]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from collections import OrderedDict 

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

## Player Count

* Display the total number of players

In [4]:
# Total count of players
total_player_count = len(purchase_data)
total_player_count

780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Number of unique items
unique_items = purchase_data["Item Name"].nunique()
unique_items

179

In [6]:
# average purchase price
avg_purchase_price = round(purchase_data["Price"].mean(),2)
avg_purchase_price

3.05

In [7]:
# total number of purchases
total_purchases = purchase_data["Price"].count()
total_purchases

780

In [8]:
#total revenue
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

In [9]:
#Create a summary data frame to hold the results
# 'OrderedDict - Stores items in the order the keys were last added'
purchasing_analysis_total = pd.DataFrame(OrderedDict({"Unique Items":[unique_items], "Total Purchases":[total_purchases], "Avg Purchase Price":"$ "+str(avg_purchase_price), "Total Revenue":"$ "+str(total_revenue)}))
purchasing_analysis_total

   Unique Items  Total Purchases Avg Purchase Price Total Revenue
0           179              780             $ 3.05     $ 2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [10]:
#Percentage and Count of Male/Female Players
#Percentage and Count of Other / Non-Disclosed

gender_demographics = pd.DataFrame(purchase_data["Gender"].value_counts()) 
gender_demographics.columns=["Total Count"]

percent = gender_demographics["Total Count"]* 100 / total_player_count
gender_demographics["Percentage of Players"] = percent
gender_demographics

                       Total Count  Percentage of Players
Male                           652              83.589744
Female                         113              14.487179
Other / Non-Disclosed           15               1.923077


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
#Unique Count
unique_count = purchase_data.groupby(["Gender"])["SN"].nunique()
unique_count

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [12]:
# Purchase Count
purchase_count = purchase_data.groupby(["Gender"]).count()["Price"].rename("Purchase Count")
purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase Count, dtype: int64

In [13]:
#Average purchase price
avg_purchase_price = purchase_data.groupby(["Gender"]).mean()["Price"].rename("Average Value")
avg_purchase_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Average Value, dtype: float64

In [14]:
#Purchase Value Total
purchase_value_total = purchase_data.groupby(["Gender"]).sum()["Price"].rename("Purchase Value")
purchase_value_total

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Purchase Value, dtype: float64

In [15]:
# Normalized Totals
normalized_totals = purchase_value_total / unique_count
normalized_totals

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [16]:
purchasing_analysis_gender = pd.DataFrame({"Unique Items":[unique_count], "Purchase Count":[purchase_count], "Avg Purchase Price":"$ "+str(avg_purchase_price), "Purchase Value Total":[purchase_value_total], "Normalized Totals":[normalized_totals]}))
purchasing_analysis_gender

SyntaxError: invalid syntax (<ipython-input-16-550dfda5a5ad>, line 1)

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
purchase_data.head()

In [ ]:
#Establish bins for ages
bins = [0 , 5, 10 ,15 ,20 ,25 ,30 ,35 ,40 ,45]
age_range = ["<5", "10-14" , "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", ">45"]

In [ ]:
#Categorize the existing players using the age bins. Hint: use pd.cut()
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, labels=age_range)
purchase_data.head()

In [ ]:
#Creates a dataframe
age_bin = pd.cut(purchase_data["Age"], bins, labels=age_range)
age_bin.head()

In [ ]:
age_bins_df = pd.DataFrame(age_bin)
age_bins_df.head()

In [ ]:
total_people = age_group.sum()
total_people

In [ ]:
age_group = age_bins_df.groupby("Age")
age_group_count = age_group["Age"].count()
age_group_count

In [ ]:
age_group_count_df = pd.DataFrame(age_group_count)
age_group_count_df

In [ ]:
age_group_count_df.columns = ['Total Count']
age_group_count_df

In [ ]:
age_group_count_df['Total Count']

In [ ]:
age_group_count_df["Percentage of Players"] = age_group_count_df["Total Count"] / age_group_count_df["Total Count"].sum() * 100
age_group_count_df

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
purchase_data.head()

In [ ]:
Top_5_count = purchase_data.groupby('SN').agg({'Price': ['count']})
Top_5_count.columns = ['Total Count']
Top_5_count.sort_values('Total Count', ascending=False).head(5)

In [ ]:
Top_5_mean = purchase_data.groupby('SN').agg({'Price': ['count', 'mean', 'sum']})
Top_5_mean.columns = Top_5_mean.columns.droplevel()
Summary_df = Top_5_mean.sort_values(['count','mean'], ascending=False)
Summary_df.columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value']
Summary_df.head(5)

In [ ]:
## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
purchase_data.head(5)

In [ ]:
most_popular_items = purchase_data.groupby(['Item ID','Item Name', 'Price']).agg({'Price': ['count','sum']})
most_popular_items.columns = most_popular_items.columns.droplevel(0)
most_popular_summary = groupby_items_sorted_by_count = most_popular_items.sort_values('count', ascending=False)
most_popular_summary.head(5)

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
groupby_items_sum = groupby_items.sort_values('sum', ascending=False)
groupby_items_sum.head(5)